<layout name="layout/admin"/>
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/admin')}">管理后台</a></li>
        <li class="breadcrumb-item"><a href="{:url('/admin.forum/index')}">版块管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">添加版块</li>
    </ol>
</nav>

<form action=""  method="post" class="col-4" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">名称</label>
        <input type="text" class="form-control" name="title" id="title" required placeholder="请输入版块名称"
               maxlength="20">
    </div>
    <div class="mb-3">
        <label for="logo" class="form-label">LOGO</label>
        <input type="file" class="form-control" accept="image/*" name="logo" id="logo" required placeholder="请上传LOGO"
               maxlength="20">
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">简介</label>
        <textarea class="form-control" name="desc" id="desc" required placeholder="请输入版块简介"
                  maxlength="100"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>