<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$title|default='网上论坛'}</title>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    {__CONTENT__}
</div>
<footer class="text-center">论坛 版权所有&copy;2024</footer>
</body>
</html>