<layout name="layout/main"/>
<nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{:url('/admin.index/index')}">管理后台</a></li>
        <li class="breadcrumb-item active" aria-current="page">订单管理</li>
    </ol>
</nav>

<table class="mt-2 table table-bordered table-striped">
    <thead>
    <tr>
        <th>订单ID</th>
        <th>名称</th>
        <th>价格</th>
        <th>状态</th>
        <th>下单时间</th>
        <th>支付时间</th>
        <th>收货人</th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="item">
        <tr>
            <td>{$item.order_id}</td>
            <td>
                <a href="{:url('/admin.order/show',['id'=>$item['order_id']])}">{$item.title}</a>
            </td>
            <td>￥{$item.price}</td>
            <td>
                <eq name="item.status" value="0">
                    <span class="badge text-bg-secondary">未支付</span>
                    <else/>
                    <span class="badge text-bg-success">已支付</span>
                </eq>
            </td>
            <td>{$item.created_at}</td>
            <td>
                <eq name="item.status" value="0">
                -
                <else/>
                {$item.pay_at}
                </eq>
            </td>
            <td>
                {$item.realname} <br>
                {$item.phone} <br>
                {$item.address} <br>
            </td>
        </tr>
    </volist>
    </tbody>
</table>
{$list->render()|raw}